header {
  color: black;
  background-color: red;
  text-align: center;
  padding: 15px;
}

.navigation {
  position: sticky;
  top: 0%;
  z-index: 1;
  margin-top: 0%;
}

.menu {
  background-color: #7f7f7f;
  margin: 0%;
}

.menu li {
  display: inline-block;
  padding: 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 21px;
}

.menu li:hover {
  background-color: black;
}

.submenu {
  position: absolute;
  background-color: #f5f5f5;
  padding: 0%;
  display: none;
  top: 45px;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li {
  display: block;
}

.submenu li:hover {
  background-color: gainsboro;
}

.submenu li a {
  color: #5596ca;
  font-size: 10px;
}
